
body {
    font-size: 1rem;
    line-height: 1.5;
}

header navbar {
    border-radius: 0;
    margin: 0;
}

.navbar { border-radius: 0; }

.navbarBrand {
    display: block;
    text-align: center; 
    font-size: 1.12em;
    line-height: 1.25em;
}

.hero {
    background-image: url(../img/arkbarn.jpg);
    margin-top: -2.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 3.6rem 0;
    min-height: 40rem;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

.hero-content h2 {
    color: #FFF;
    font-size: 6em;
}

.hero-content p {
    color: #FFF;
    font-size: 3.2em;
    margin-bottom: 2rem;
}

.hero-content .btn {
    border-radius: 2px;
    padding: 1.4rem 2rem;
}

main {
    min-height: 31.2rem;
    padding: 0;
}

footer {
    padding: 1.4rem 0;
    font-size: 0.8em;
    color: #BBB;
    background-color: #222;
    text-align: center;
}

